<launch>
	<arg name="sigverse_ros_bridge_port"        default="50001" />
	<arg name="ros_bridge_port"                 default="9090" />

	<node name="ai_agent_teleop_key" pkg="sigverse_ai_agent_teleop_key" type="ai_agent_teleop_key" output="screen" launch-prefix="gnome-terminal -t 'AI Agent teleop key' -- ">
		<!--
		<remap from="/joint_states"             to="/joint_states" />
		<remap from="/command_velocity"         to="/command_velocity" />
		<remap from="/controller/command"       to="/controller/command" />
		<remap from="/hand_controller/command"  to="/hand_controller/command" />
		-->
	</node>

	<group ns="sigverse_ros_bridge">
		<node name="sigverse_ros_bridge" pkg="sigverse_ros_bridge" type="sigverse_ros_bridge" args="$(arg sigverse_ros_bridge_port)"/>
	</group>
	
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="$(arg ros_bridge_port)"/>
	</include>
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find sigverse_ai_agent_teleop_key)/launch/ai_agent.rviz"/>

</launch>

