planning_pipelines:
  pipeline_names: [ompl]

default_planning_pipeline: ompl

ompl:
  planning_plugin: ompl_interface/OMPLPlanner
  request_adapters: >-
    default_planner_request_adapters/FixWorkspaceBounds
    default_planner_request_adapters/FixStartStateBounds
    default_planner_request_adapters/FixStartStateCollision
    default_planner_request_adapters/FixStartStatePathConstraints
    default_planner_request_adapters/ResolveConstraintFrames
    default_planner_request_adapters/AddTimeOptimalParameterization
  
  planner_configs:
    RRTConnectkConfigDefault:
      type: geometric::RRTConnect
      range: 0.0  # Max motion added to tree. ==> maxDistance_ default: 0.0, if 0.0, set on setup()
    RRTstarkConfigDefault:
      type: geometric::RRTstar
      range: 0.0  # Max motion added to tree. ==> maxDistance_ default: 0.0, if 0.0, set on setup()
      goal_bias: 0.05  # When close to goal select goal, with this probability? default: 0.05
      delay_collision_checking: 1  # Stop collision checking as soon as C-free parent found. default 1
    PRMstarkConfigDefault:
      type: geometric::PRMstar
  
  arm:
    planner_configs:
      - RRTConnectkConfigDefault
      - RRTstarkConfigDefault
      - PRMstarkConfigDefault
