<launch>
	<arg name="sigverse_ros_bridge_port"        default="50001" />
	<arg name="ros_bridge_port"                 default="9090" />

	<node name="tiago_teleop_key" pkg="sigverse_tiago_teleop_key" type="tiago_teleop_key" output="screen" launch-prefix="gnome-terminal -t 'TIAGo teleop key' -- ">
		<!--
		<remap from="/tiago/message/to_robot"         to="/tiago/message/to_robot" />
		<remap from="/tiago/message/to_human"         to="/tiago/message/to_human" />
		<remap from="/joint_states"                   to="/joint_states" />
		<remap from="/mobile_base_controller/cmd_vel" to="/mobile_base_controller/cmd_vel" />
		<remap from="/torso_controller/command"       to="/torso_controller/command" />
		<remap from="/head_controller/command"        to="/head_controller/command" />
		<remap from="/arm_controller/command"         to="/arm_controller/command" />
		<remap from="/gripper_controller/command"     to="/gripper_controller/command" />
		-->
	</node>

	<group ns="sigverse_ros_bridge">
		<node name="sigverse_ros_bridge" pkg="sigverse_ros_bridge" type="sigverse_ros_bridge" args="$(arg sigverse_ros_bridge_port)"/>
	</group>
	
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="$(arg ros_bridge_port)"/>
	</include>
	
</launch>

